<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Free-Litecoin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="/assets/litecoin.png"></ion-img>
    <ion-card-header>
      <!-- <ion-card-subtitle>Bitnyx is the next generation bitcoin faucet platform created by crypto-coin enthusiasts.
      </ion-card-subtitle> -->
      <ion-card-title>Free-Litecoin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Every hour you can have free litecoin</p>
      <ion-chip outline="true" (click)="openLitecoin()" class="ion-float-right">
        <ion-label>Dashboard</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>
