<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/esfaucet.gif"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Getting Started</ion-card-subtitle>
        <ion-card-title>Crypto Faucet Hub</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Crypto Faucet Hub is an application that allows you to facilitates the collection of dozens of crypto coins through the ease of a centralized mobile app and web platform.</p>
      </ion-card-content>
      <ion-card-content>
        <p>While App is in beta you can reach developers via telegram chat room.</p>
        <!-- Item as an Anchor -->
        <ion-text><a href="https://t.me/hageneLabzCryptoFaucetHub">Crypto Faucet Hub Chat Room</a></ion-text>
      </ion-card-content>
    </ion-card>
</ion-content>
